# Validate this file with: pnpm run check-env
# The script is located in package.json and scripts/check-env.mjs

# Common
PNPM_VERSION=9.12.3

# Ports
GAME_SERVER_PORT=55553
GAME_SERVER_HTTP=55554
SCORER_PORT=4008
MATCHMAKING_PORT=4242
FRONTEND_PORT=5173
BACKEND_PORT=3001
NGINX_PORT=8080
NGINX_HTTPS_PORT=4430
GATEWAY_PORT=55550
REDIS_PORT=6379
ALLOCATOR_PORT=4000
KIBANA_PORT=5601
GRAFANA_PORT=3000
NGINX_STUB_STATUS_PORT=8081
CHAT_PORT=6262
ES_PORT=9200 # elasticsearch API

# Frontend dev server (in container)
VITE_FRONTEND_HOST=0.0.0.0
VITE_FRONTEND_PORT=5173
# For Docker with proxy
VITE_DEV_API_PROXY_TARGET=http://backend:3001
VITE_MATCHMAKING_PROXY_TARGET=ws://matchmaking-service:4242
VITE_GAME_WS_PROXY_TARGET=ws://game-server:55553
VITE_PUBLIC_DEV_PORT=8080
VITE_TOURNAMENT_SIZE=4
VITE_RECENT_TOURNAMENT_WINDOW_MS=21600000
VITE_MAX_VISIBLE_TOURNAMENTS=8

# Backend
BACKEND_HOST=0.0.0.0
DATABASE_PATH=/data/db.sqlite
SECRET=yourSecretForJWTToken
REFRESH_SECRET=fedcba9876543210fedcba9876543210fedcba9876543210fedcba9876543210
MATCH_SECRET=secretForAddingMatches
FRONTEND_URL=http://localhost:8080
UPLOAD_DIR=/data/sqlite/uploads
JWT_ACCESS_TTL=4h
JWT_REFRESH_TTL=30d
JWT_2FA_TTL=10m
ACCESS_TOKEN_COOKIE_NAME=token
REFRESH_TOKEN_COOKIE_NAME=refreshToken
TFA_ISSUER=Arcade Transcendence
TFA_CODE_DIGITS=6

# Dev watchers in containers
CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true

# OAuth (example for Google)
#BASE_URL=http://localhost
NODE_ENV=development
GOOGLE_OAUTH_REDIRECT_PATH=/api/auth/google/callback
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_secret

# enable the wrapping of database calls for monitoring purposes
ENABLE_SQLITE_METRICS=true

# Email (example for Gmail)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=pong.example@gmail.com
MAIL_PASS=your_app_password
MAIL_FROM="Arcade Transcendence <pong.example@gmail.com>"
MAIL_FROM_RAW="pong.example@gmail.com"

# Allocator / Game node secret
ADMIN_SECRET=replaceThisSecret
REDIS_URL=redis://redis:6379

# Matchmaking service
API_URL=http://backend:3001
TOURNAMENT_REMINDER_DELAY_MS=5000
TOURNAMENT_MAX_REMINDERS=3
TOURNAMENT_MATCH_AUTO_START_DELAY_MS=10000
TOURNAMENT_MATCH_COUNTDOWN_INTERVAL_MS=1000
TOURNAMENT_REQUIRED_PARTICIPANTS=4

# For scorer
GAME_NODES_AMOUNT=2
PROMETHEUS_URL=http://prometheus:9090

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASS=changeme
GRAFANA_EDITOR_NAME=editor
GRAFANA_EDITOR_PASS=changeme
GRAFANA_VIEWER_NAME=viewer
GRAFANA_VIEWER_PASS=changeme
GRAFANA_OAUTH_CLIENT_ID=xxx.apps.googleusercontent.com
GRAFANA_OAUTH_CLIENT_SECRET=test-secret

# Elastic stack -----------------------------------------------------
#
# # Password for the 'elastic' superuser (at least 6 characters)
# This user is for logging in to Kibana and cannot be renamed
ELASTIC_USER=elastic
ELASTIC_PASSWORD=changeme

# Password for the 'kibana_system' user (at least 6 characters)
# This user is NOT for logging in
KIBANA_PASSWORD=changeme

# Other users
ES_DEVELOPER_PASSWORD=changeme
ES_ANALYST_PASSWORD=changeme

# All parts of the stack should pull the same version 
ES_STACK_VERSION=9.1.5

# Set to 'basic' or 'trial' to automatically start the 30-day trial
ES_LICENSE=basic

# Key needs to be stored to preserve reports across restarts.
# Alphanumeric, min 32 chars
ES_ENCRYPTION_KEY=Jn7FYWRWLAVyiMK4hBYsaxbxAstwZKPF
#-------------------------------------------------------------------

# Alertmanager
ALERT_MAIL_TO=test@example.com
ALERT_WEBHOOK_URL=https://localhost:9999/not_real
