# Validate this file with: pnpm run check-env
# The script is located in package.json and scripts/check-env.mjs

# Ports
GAME_SERVER_PORT=55553
GAME_SERVER_HTTP=55554
MATCHMAKING_PORT=4242
FRONTEND_PORT=5173
BACKEND_PORT=3001
NGINX_PORT=8080
GATEWAY_PORT=55550
REDIS_PORT=6379
ALLOCATOR_PORT=4000

# Frontend dev server (in container)
VITE_FRONTEND_HOST=0.0.0.0
VITE_FRONTEND_PORT=5173
# For Docker with proxy
VITE_DEV_API_PROXY_TARGET=http://backend:3001
VITE_MATCHMAKING_PROXY_TARGET=ws://matchmaking-service:4242
VITE_GAME_WS_PROXY_TARGET=ws://game-server:55553
VITE_PUBLIC_DEV_PORT=8080

# Backend
BACKEND_HOST=0.0.0.0
DATABASE_PATH=/data/db.sqlite
SECRET=yourSecretForJWTToken
REFRESH_SECRET=fedcba9876543210fedcba9876543210fedcba9876543210fedcba9876543210
MATCH_SECRET=secretForAddingMatches
FRONTEND_URL=http://localhost:8080
UPLOAD_DIR=/data/sqlite/uploads
JWT_ACCESS_TTL=4h
JWT_REFRESH_TTL=30d
JWT_2FA_TTL=10m
ACCESS_TOKEN_COOKIE_NAME=token
REFRESH_TOKEN_COOKIE_NAME=refreshToken
TFA_ISSUER=BabylonPong
TFA_CODE_DIGITS=6
REDIS_URL=redis://localhost:6379

# Dev watchers in containers
CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true

# OAuth (example for Google)
#BASE_URL=http://localhost
NODE_ENV=development
GOOGLE_OAUTH_REDIRECT_PATH=/api/auth/google/callback
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_secret

# enable the wrapping of database calls for monitoring purposes
ENABLE_SQLITE_METRICS=true

# Email (example for Gmail)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=pong.example@gmail.com
MAIL_PASS=your_app_password
MAIL_FROM="BabylonPong <pong.example@gmail.com>"

# Allocator / Game node secret
ADMIN_SECRET=replaceThisSecret
REDIS_URL=redis://redis:6379

# Matchmaking service
API_URL=http://backend:3001

# For scorer
GAME_NODES_AMOUNT=2
