SECRET=yourSecretForJWTToken
MATCH_SECRET=secretForAddingMatches
FRONTEND_URL=localhost:5173
DATABASE_PATH=./data/sqlite/db.sqlite
BACKEND_PORT=3001
BACKEND_HOST=0.0.0.0
UPLOAD_DIR=./data/sqlite/uploads
JWT_ACCESS_TTL=4h
JWT_2FA_TTL=10m
TFA_ISSUER=BabylonPong
TFA_CODE_DIGITS=6

# OAuth (example for Google)
#BASE_URL=http://localhost
NODE_ENV=development
GOOGLE_OAUTH_REDIRECT_PATH=/api/auth/google/callback
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_secret
